.header{
    color: #fff;
    background-color: #0f0e0e;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 15px #000;
    max-width: calc(100% - 200px);
    width: 100%;
    right: 0;
    position: fixed;
    justify-content: center;
    gap: 40px;
}

.search{
    display: flex;
    align-items: center;

    gap: 7px;
   
    
    &__line{
        width: 100px;
        border-radius: 5px;
        height: 24px;
        background: transparent;
        color: #fff;
        border: 0.5px solid #fff;
    }
}

.nav{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__link{
    font-size: 18px;
    transition: color .3s linear;
    &:hover{
        color: aqua;
        cursor: pointer;
    }
}

.icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.div1,.div2,.div3{
    height: 2px;
    width: 20px;
    padding: 1px;
    background-color: #fff;
    margin: 5px 0px;
    transition: transform .3s linear;
}
.logo{
    font-size: 34px;
    position: absolute;
    left: 20px;
}
.close-header{
    display: none;
}
.icon{
    width: 20px;
    height: 20px;   
}
@media(max-width:802px){
    .header{
        padding: 10px;
        justify-content: space-between;
    }
    .logo{
        position: static;
    }
}
@media(max-width:762px){
    .header{
        display: block;
    }
    .nav{
        position: fixed;
        height: 100%;
        display: block;
        background-color: #0f0e0e;
        width: 100%;
        z-index: 100;
        left: 200px;
        padding: 10px;
        top: -300%;
        transition: top .5s ease-in-out;
        bottom: 60px;
        overflow: auto;
        &.active{
            top: 60px;
        }
    }
    .nav-list{
        display: block;
    }
    .icons{
        display: block;
    }

    .nav-link{
        margin: 10px 0px;
    }

    .search{
        margin: 10px 0px;
    }
    .close-header{
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        z-index: 105;
        &.active{
            top: 25px;
            .div2{
                display: none;
                padding: 0;
                height: 0;
                width: 0;
                margin: 0;
            }
            .div1{
                transform: rotate(45deg);
                margin: 0;
                padding: 0;
                position: absolute;
                right: 10px;
            }
            .div3{
                right: 10px;
                position: absolute;
                margin: 0;
                transform: rotate(-45deg);
            }
        }
    }
}